.projects-section {
    background-color: #3f938b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.projects-container {
    padding: 30px;
    display: grid;
    justify-content: center;
    width: 100%;
    color: black;
    text-align: center;
    grid-gap: 20px;
}

@media screen and (min-width: 700px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1100px) {
    .projects-container {
        grid-template-columns: repeat(3, 1fr);
    }
}