footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9a9a9a;
    padding: 10px;
}

.container-footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
}